body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f6e8e8;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

.mensaje {
	background-color: #4b6a96;
	color: white;
	text-align: center;
	padding: 0.1rem 0.1rem;
	border-radius: 0.5rem 0.5rem 2.5rem 2.5rem; 
	font-size: 2.5rem;
	font-weight: bold;
}

.contenido{
	display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	gap: 20px; 
	font-size: 2.35rem;
	padding-top: 0.1rem;
	padding-bottom: 0.7rem;
	text-align: center;
}

label{
	background-color: white; 
	padding-top: 0.5rem;
  	padding-left: 1rem;
	margin-top: 3.5rem;
  	border-radius: 1.6rem 1.6rem 1.6rem 1.6rem;
}	

input{
	padding: 1rem 1rem 0 0;
	padding-top: 0.5rem;
  	padding-left: 1rem;
	margin-top: 3.5rem;
  	border-radius: 1.6rem 1.6rem 1.6rem 1.6rem;
	text-align: center;
	font-size: 2rem;
}

.botones{
	display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	font-size: 1rem;
}

a { 
	width: 100%;  
	border: none;
	text-decoration: none;
	text-align: center;
  }
  
  .confirmar, .cancelar{
	inline-size: 24.5rem;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 3rem 0 3rem 0;
	margin-top: 2rem;
	margin-right: 1rem;
	margin-left: 3rem;
	font-size: 2.3rem;
	font-weight: bold;
	cursor: pointer;
  }
  
  .confirmar{
	background: linear-gradient(90deg, rgba(252,122,0,1) 35%, rgba(192,65,9,1) 100%);
  }
  
  .cancelar{
	background: linear-gradient(90deg, rgba(73,104,150,1) 35%, rgba(40,66,140,1) 100%);
  }